<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inventario de Productos</title>
  <link rel="stylesheet" href="../styles/producto.css">
</head>
<body>
  <header>
    <h1>Mi Inventario de Electrónica</h1>
  </header>
  <main class="product-grid">
    <a id="flecha" href="index.html"><img src="../img/white/flecha.png" height="50px"></a>
    {% for producto in productos %}
      <div class="product-card">
        <img src="{{ producto.imagen }}" alt="Imagen de {{ producto.nombre }}">
        <h2>{{ producto.nombre }}</h2>
        <p class="price">€{{ producto.precio }}</p>
        <button>Agregar al carrito</button>
      </div>
    {% endfor %}
  </main>
</body>
</html>
