<!DOCTYPE html>
<head>
    <title>Registrate | Electromarkt</title>
    <link rel="stylesheet" href="../styles/singup.css">
</head>
<body>
    <a id="flecha" href="index.html"><img src="../img/white/flecha.png" height="50px"></a>
    <div id="formulario">
        <h1>Registrarse</h1>
        <form method="POST" action="/signup">
            <label for="id">ID:</label><br>
            <input type="number" id="id" name="id" required><br><br>

            <label for="fecha_nacimiento">Fecha de nacimiento:</label><br>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento"><br><br>

            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre"><br><br>

            <label for="apellidos">Apellidos:</label><br>
            <input type="text" id="apellidos" name="apellidos"><br><br>

            <label for="pais">País:</label><br>
            <input type="text" id="pais" name="pais"><br><br>

            <label for="gmail">Correo electrónico:</label><br>
            <input type="email" id="gmail" name="gmail" required><br><br>

            <button type="submit">Registrarse</button>
        </form>
        <p>Ya tienes una cuenta?</p>
        <p>Inicia sesion <a href="singin.html">aqui</a></p>
    </div>
</body>