<!DOCTYPE html>
<head>
    <title>Sing In | Electromarkt</title>
    <link rel="stylesheet" href="../styles/singin.css">
</head>
<body>
    <a id="flecha" href="index.html"><img src="../img/white/flecha.png" height="50px"></a>
    <div id="formulario">
        <h1>Iniciar sesión</h1>
        <form method="POST" action="/login">
            <label for="gmail_login">Correo electrónico:</label><br>
            <input type="email" id="gmail_login" name="gmail" required><br><br>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>