body {
    background-color: navy;
    align-content: center;
    color: navy;
}

button {
  background-color: navy;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
    background-color: royalblue;
}

.main {
    background-color: white;
    width: 25%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}